<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
  <title>Please Log In</title>
</head>
<body>
<h1>Please Log In</h1>
<form action="#" th:action="@{/auth}" th:object="${authenticationRequest}" method="post">
  <div>
    <label> USERNAME </label>
    <input type="text" name="username"  id="username" th:field="*{username}"/>
  </div><br>
  <div>
    <label> PASSWORD </label>
    <input type="password" name="password"  id="password" th:field="*{password}"/>
  </div>
  <input type="submit" value="submit" name="submit" />
</form>
</body>
</html>
